#header h1 {
    position: fixed;
    top: 80px;
    left: 120px;
    z-index: 999;
}

#header .gnb {
    position: fixed;
    top: 50%;
    right: 120px;
    transform: translate(0, -50%);
    z-index: 999;
}

#header .gnb li a {
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
    font-size: 0;
}

#header .gnb li a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 1px;
    border-radius: 50%;
    background: #333;

    transition: 0.4S;
}

#header .gnb li.on a::before {
    width: 40px;
}

#header .menu {
    position: fixed;
    top: 80px;
    right: 120px;
    z-index: 999;

    width: 32px;
    height: 32px;

    background: #ddd;
    cursor: pointer;
}

#header .menu button {
    font-size: 0;
}

#header .menu button::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;

    height: 2px;
    background: #333;
}

#header .menu.on button::before {
    display: none;
}

#header .menu button::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;

    height: 2px;
    background: #333;
}

#header .menu.on button::after {
    display: none;
}

#header .menu button span::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 4px;
    right: 4px;

    height: 2px;
    background: #333;
}

#header .menu.on button span::before {
    transform: rotate(45deg);
}

#header .menu button span::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 4px;
    right: 4px;

    height: 2px;
    background: #333;
}

#header .menu.on button span::after {
    transform: rotate(-45deg);
}

#header .cover {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 998;
    background: url(../images/pt01.jpg);
    color: #fff;

    display: none;
    justify-content: center;
    align-items: center;

}

#header .cover.on {
    display: flex;

}

.intro .inner {
    position: relative;
}

.txt {
    margin-left: 300px;
}

.intro h2 {
    font-size: 56px;
    font-weight: 50;
    margin-left: 20px;
    margin-bottom: 24px;
}

.intro .txt p {
    font-size: 24px;
    font-weight: 300;
    margin-left: 100px;
    margin-bottom: 30px;

    font-style: italic;
}

.intro .txt span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-left: 80px;
}

.intro .txt p::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;

    vertical-align: middle;
    margin-left: 10px;

    background: #333;

}

.intro .moon {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 480px;
    height: 480px;

    background: url(../images/moon.png) no-repeat center/cover;
}

.intro .moon_bg {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 240px), -50%);
    z-index: -1;

    width: 200px;
    height: 200px;

    background: url(../images/pt03.png);
    opacity: 0.5;

    border-radius: 50%;
}

.intro .bg2 {
    background: url(../images/pt02.jpg);
    top: -178px;
    left: 60%;
    width: 80px;
    height: 80px;
    opacity: 1;


    border: 16px solid #fff;
    outline: 1px solid #ddd;
    box-sizing: content-box;

    animation: dd 1s linear infinite;
}


@keyframes dd {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.intro .moon::after {}



#footer address {
    position: fixed;
    bottom: 80px;
    left: 120px;
    z-index: 999;
}

#footer .to_top {
    position: fixed;
    bottom: 80px;
    right: 120px;
    z-index: 999;
}